.hire-us {
  background-color: #ddd;

  &__title {
    font-size: 1.4em;
    background: $blue-color;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0px auto 30px;
  }

  &__sub-title {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto 30px;
    text-align: center;
  }

  .hire-form {
    width: 90%;
    margin: 0px auto;

    .hire-form__input, .hire-form__message textarea {
      border-radius: 4px;
      padding: 4px 10px;
      font-size: 1.1em;
      border: none;
      border: 1.2px solid $orange-color;

      &:focus {
        outline: none;
      }
    }

    .hire-form__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .hire-form__input {
        width: 49%;
        margin: 0px 0px 20px;
      }
    }

    .hire-form__message textarea {
      width: 100%;
    }

    .hire-form__button {
      text-align: center;

      button:disabled {
        opacity: 0.6;
      }
    }

    .service-picker {

      &__title {
        font-size: 1em;
        color: $blue-color;
        font-weight: 600;
        margin: 0;
      }

      .note-message {
        color: $orange-color;
        font-weight: 600;
        font-size: .9em;
        margin: 0px auto 20px;
        display: inline-block;
      }

      &__options {
        display: flex;
        flex-wrap: wrap;

        .service-picker__option {
          width: 50%;

          .option__checkbox {
            border: 1px solid $orange-color;

            &:focus {
              outline: none;
            }
          }

          .option__label {
            font-size: 1em;
            display: inline-block;
            margin: 6px 0px 6px 10px;
          }
        }
      }
    }

    .hire-form__message {
      margin-bottom: 20px;

      textarea {
        min-width: 100%;
        max-width: 100%;
        min-height: 200px;
        max-height: 300px;
      }
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: 1000px) {
  .hire-us {

    .hire-form {
      width: 100%;
      margin: 0px auto;
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: 1000px) {
  .hire-us {

    .hire-form {
      
      .hire-form__inputs {
        .hire-form__input {
          width: 49%;
        }
      }
    }
  }
}