/**
* HOME VIEW STYLES.
*/


.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0px 0px 60px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.4);
  }

  .inner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .banner__text {
    width: 100%;
    position: relative;

    &-title, &-description {
      margin: 0;
      text-transform: uppercase;
    }

    &-title {
      font-size: 2.2em;
    }

    &-description {
      font-size: 1.4em;
    }
  }
}

.projects-container {
  background-color: $orange-color;
  .inner-wrapper {
    width: 85%;
  }

  .projects__title, .project__category {
    font-size: 1.5em;
    padding: 14px 0px;
  }

  .projects-slider {

    .VueCarousel-navigation {

      .VueCarousel-navigation-button {
        font-size: 3.5em;
        padding: 0;
        margin: 0;
        outline: none;

        &:hover {
          opacity: 0.6;;
        }
      }
    }

    .project-slide {
      position: relative;
      z-index: 100;
      
      .image__container {
        width: 100%;
        object-fit: cover;
        background-color: #fff;
        text-align: center;

        .project__image {
          height: 100%;
          width: 100%;
        }
      }

      .information__container {

        .project__category {
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}

/**
  HOME VIEWS MEDIA QUERIES
*/
// TABLES
@media screen and (max-width: 800px) {
  .banner {
    height: 350px;
  }

  .banner__text {
    text-align: center;
  }

  .projects-container {
    .inner-wrapper {
      min-width: 100%;
    }
  
    .projects__title, .project__category {
      text-align: center;
      font-size: 1.4em;
    }
  
    .projects-slider {
  
      .VueCarousel-navigation {
        display: none;
      }
    }
  }
}