/**
* HOME VIEW STYLES.
*/


.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0px 0px 60px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.4);
  }

  .inner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .banner__text {
    width: 100%;
    position: relative;

    &-title, &-description {
      margin: 0;
      text-transform: uppercase;
    }

    &-title {
      font-size: 2.2em;
    }

    &-description {
      font-size: 1.4em;
    }
  }
}

.projects-container {
  background-color: $orange-color;

  .projects__title, .project__category {
    font-size: 1.5em;
    padding: 14px 0px;
  }

  .projects-slider {
    position: relative;

    .VueCarousel-navigation-button {
      font-size: 3.5em;
      padding: 0 !important;
    }

    .project-slide {
      
      .information__container {

        .project__category {
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}

/**
  HOME VIEWS MEDIA QUERIES
*/
// TABLES
@media screen and (max-width: 800px) {
  .banner__text {
    text-align: center;
  }
}