


.category-list {
  background-color: #000;

  .inner-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .list__category {
    width: 120px;
    height: 120px;

    .category__icon {
      height: 100%;
    }
  }
}