


.category-list {
  background-color: #000;

  .inner-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .list__category {
    width: 120px;
    height: 120px;

    .category__icon {
      height: 100%;
    }
  }
}

.project-navigation {
  padding: 30px 0px;

  .inner-wrapper {
    display: flex;
    justify-content: space-between;

    .navigation__arrow {
      color: $blue-color;
      display: flex;
      cursor: pointer;
      align-items: center;

      &:hover {
        opacity: .8;
      }

      &--disabled {
        opacity: 0.4;
        pointer-events: none;
        color: #24292e;
      }

      span {
        color: #24292e;
        margin: 0px 4px;
        line-height: 15px;
      }
    }
  }
}

.project-container {
  .inner-wrapper {
    width: 85%;
  }

  .project__title, .image__category {
    padding: 18px 0px;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  .project__header {
    background-color: $orange-color;

    .project__carousel {
      .VueCarousel-navigation {

        .VueCarousel-navigation-button {
          font-size: 3.5em;
          padding: 0;
          margin: 0;
          outline: none;
  
          &:hover {
            opacity: 0.6;;
          }
        }
      }
      
      &__slide {
        width: 100%;
        position: relative;
        z-index: 100;

        .project__images {
          width: 100%;

          img {
            width: 100%;
            height: 100%;
          }

          .image__category {
            text-align: center;
            color: #fff;
          }
        }
      }
    }
  }

  .project__body {
    
    width: 50%;
  }
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/**
  PROJECT COMPONENT MEDIA QUERIES
*/

@media screen and (max-width: 800px) {
  .project__header, .project__body {
    .inner-wrapper {
      min-width: 100% !important;
    }
  }
}