<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=apple-touch-icon sizes=57x57 href=/static/favicon/apple-icon-57x57.png>
    <link rel=apple-touch-icon sizes=60x60 href=/static/favicon/apple-icon-60x60.png>
    <link rel=apple-touch-icon sizes=72x72 href=/static/favicon/apple-icon-72x72.png>
    <link rel=apple-touch-icon sizes=76x76 href=/static/favicon/apple-icon-76x76.png>
    <link rel=apple-touch-icon sizes=114x114 href=/static/favicon/apple-icon-114x114.png>
    <link rel=apple-touch-icon sizes=120x120 href=/static/favicon/apple-icon-120x120.png>
    <link rel=apple-touch-icon sizes=144x144 href=/static/favicon/apple-icon-144x144.png>
    <link rel=apple-touch-icon sizes=152x152 href=/static/favicon/apple-icon-152x152.png>
    <link rel=apple-touch-icon sizes=180x180 href=/static/favicon/apple-icon-180x180.png>
    <link rel=icon type=image/png sizes=192x192 href=/static/favicon/android-icon-192x192.png>
    <link rel=icon type=image/png sizes=32x32 href=/static/favicon/favicon-32x32.png>
    <link rel=icon type=image/png sizes=96x96 href=/static/favicon/favicon-96x96.png>
    <link rel=icon type=image/png sizes=16x16 href=/static/favicon/favicon-16x16.png>
    <link rel=manifest href=/static/favicon/manifest.json>
    <meta name=msapplication-TileColor content=#ffffff>
    <meta name=msapplication-TileImage content=/static/favicon/ms-icon-144x144.png>
    <meta name=theme-color content=#ffffff>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel=stylesheet>
    <title>Kalwak | Desarrollo web</title>
    <base href=/>
    <meta name=description content="Kalwak desarrollo web y de software, haz que tu negocio sea conocido en internet">
    <meta name=keywords
          content="desarrollo web, desarrollo de software, diseño grafico, sistemas de inventarios, paginas web, kalwak desarrollo web">
    <meta name=author content=kalwak>
    <meta name=robots content="noindex, nofollow">
    <meta name=canonical content=http://kalwak.xyz>
    <meta property=og:url content=http://kalwak.com>
    <meta property=og:title content="kalwak | Desarrollo web y de software">
    <meta property=og:site_name content=kalwak>
    <meta property=og:type content=website>
    <meta property=og:description content="Desarrollo web y de software">
    <meta property=og:image
          content=https://res.cloudinary.com/edwing123/image/upload/v1565553015/kalwak-projects-images/favicon-16x16.png>
    <link href=/static/js/chunk-021e20fb.4a77d7a6.js rel=prefetch>
    <link href=/static/js/chunk-05987e78.dd3b4119.js rel=prefetch>
    <link href=/static/js/chunk-0a5d62ec.d39d0c0c.js rel=prefetch>
    <link href=/static/js/chunk-2d0ae5a4.76be52d6.js rel=prefetch>
    <link href=/static/js/chunk-54df5073.90bbd376.js rel=prefetch>
    <link href=/static/js/chunk-697e240d.a154adf3.js rel=prefetch>
    <link href=/static/js/chunk-78d1cc8a.77dfc5c4.js rel=prefetch>
    <link href=/static/js/chunk-bdfcbe2e.7df25cf6.js rel=prefetch>
    <link href=/static/css/app.07498f9a.css rel=preload as=style>
    <link href=/static/css/chunk-vendors.f58d00ed.css rel=preload as=style>
    <link href=/static/js/app.75fd8140.js rel=preload as=script>
    <link href=/static/js/chunk-vendors.524798f1.js rel=preload as=script>
    <link href=/static/css/chunk-vendors.f58d00ed.css rel=stylesheet>
    <link href=/static/css/app.07498f9a.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but this website doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/static/js/chunk-vendors.524798f1.js></script>
<script src=/static/js/app.75fd8140.js></script>
</body>
</html>