/**
* ALL THESE STYLES WILL BE APPLIED TO
  THE PAGE FOOTER, THIS ALSO INCLUDES THE 
  STYLES FOR DEVICES, TABLETS AND DESKTOP
  BUT IT CAN BE SEPARATED INTO DIFFERENT
  FILES LATER.
*/


.footer {
  background-color: #ddd;
  padding-top: 60px;
}

.contact-section {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-form, .contact-information {

  .contact__title {
    text-transform: uppercase;
    font-size: 1.3em;
  }

  .contact__title, .form__input, 
  .contact-info {
    margin: 0px 0px 15px;
  }
}

.contact-form {
  width: 70%;
  .form {
    margin: 0;
    width: 95%;

    .form__input, .form__button {
      border-radius: 4px;
      padding: 4px 10px;
      font-size: 1.1em;
      border: none;
    }

    .form__input {
      border: 1.2px solid $orange-color;
    }

    .form__textarea {
      min-height: 150px;
      max-height: 200px;
    }

    .form__button-container {
      text-align: right;
    }

    .form__button {
      background-color: $blue-color;
      color: #fff;
    }
  }
}

.contact-information {
  width: 30%;
  
  .contact-info {
    font-size: 1.1em;

    .info__title, .info__description {
      display: block;
      margin: 0;
      padding: 0;
    }

    .info__title {
      color: $blue-color;
    }

    .info__description {
      a {
        color: $orange-color;

        &:hover {
          color: #333;
        }
      }
    }
  }

  .social-media {
    margin-top: 60px;

    .contact__title {
      margin-bottom: 4px;
    }
    
    &__icon {
      font-size: 1.3em;
      margin: 0px 8px 0px 0px;
    }

    .icon-whatsapp {
      color: #25d366;
    }
    .icon-facebook {
      color: #3b5998;
    }
  }
}

.information-section {
  margin-top: 30px;

  .copyright-section {
    p {
      text-align: center;
      color: #333;
      margin-bottom: 4px;
      font-size: 0.9em;
    }
  }
}


// MEDIA QUERIES STARTS HERE (800px)
/**
  STYLES FOR DIFFERENT DEVICES SCREENS, FIRST I'LL GO THROUGH 
  TABLES AND FINALLY TO MOBILE DEVICES SCREENS.
*/
// MOBILE DEVICES 
@media screen and (max-width: 800px) {
  .contact-form, .contact-information {
    width: 100%;
  }

  .contact-form {
    margin-bottom: 60px;

    .form {
      width: 100%;

      .form__button-container {
        text-align: center;
      }

      .form__input-container {

        &:nth-child(2), &:nth-child(3) {
          min-width: 100%;
        }
      }
    }
  }

  .contact-information {
    text-align: center;
  
    .social-media {
      margin-top: 20px;
    }
  }
}