/**
* THESE ARE BASE STYLES TO APPLY TO SOME
  TAGS SO THEY CAN HAVE A EXPECTED BEHAVIOR.
*/


body {
  font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  color: #24292e;
  text-decoration: none !important;
}

.reset-m-p {
  padding: 0;
  margin: 0;
}

[class^='col-'], [class^='container-'], .row {
  @extend .reset-m-p;
}

// to limit the width
.inner-wrapper {
  max-width: 1000px;
  margin: 0px auto;
}