body {
  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

img {
  vertical-align: top;
}

a {
  color: #000;
  text-decoration: none !important;
}

.column {
  padding: 0;
  position: relative;
}