/**
* THESE ARE VARIABLES THAT WILL BE USED
  THROUGHOUT THE WEBSITE, THEY WILL SAVE
  VALUES THAT CAN BE CHANGE LATER.
*/


$primary-bgc: #fff;
$secondary-bgc: #ddd;
$base-font-size: 16px;
$font-roboto: 'Roboto', sans-serif;
$orange-color: #e6a316;
$blue-color: #243c96;